* {
  margin: 0;
  padding: 0;
}

/* Header */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid black;
}
#logo {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  color: MediumAquamarine;
}
#logo img {
  margin: 15px;
}
nav {
  width: 100%;
display: flex;
justify-content: flex-end;
}
.nav-links {
  margin: 25px;
  color: black;
}

/* Main body */

.container {
  display: flex;
  border: 1px solid black;
  align-items: flex-end;
}
.column {
  margin: 20px 20px 0px 0px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.info, .headline {
  border: 1px solid black;
}
.info {
  padding: 20px 0px;
}

/* First column */

.column.large {
  width: 630px;
}

/* Second column */

.column.medium {
  width: 300px;
}
.column.small {
  width: 240px;
}
