* {
  margin: 0;
  padding: 0;
}

/* Header */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1;
  background-color: white;
}
#logo {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  color: MediumAquamarine;
}
#logo img {
  margin: 15px;
}
nav {
  width: 100%;
display: flex;
justify-content: flex-end;
}
.nav-links {
  margin: 25px;
  color: black;
}

/* Main body */

.container {
  display: flex;
  border: 1px solid black;
  align-items: stretch;
}
.column {
  margin: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
}
.info {
  padding: 20px 0px;
}

/* First column */

.column.large {
  width: 630px;
}
#phish {
  background-image: url("./party.png");
  height: 300px;
  width: 630px;
}
#earth {
  background-image: url("./fall.png");
}
#camera {
  background-image: url("./camera.png")
}
#phish p {
  font-size: 40px;
}
#camera, #earth {
  height: 300px;
  width: 300px;
}
#camera p, #earth p {
  text-align: center;
  font-size: 30px;
}
#camera p, #phish p, #earth p {
  font-weight: bold;
  font-family: Georgia;
  color: white
}
#orca-burger {
  display: flex;
  flex-direction: row;
  margin: 40px 0px 75px 0px;
}
#earth-camera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Second column */

.column.medium {
  width: 300px;
}
#cat {
  background-image: url("./cat.png")
}
#cat p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia;
  color: white;
  height: 300px;
}


/* Third Column */

.column.small {
  width: 240px;
}
.bites h3 {
  padding: 20px 0px;
}
